@use 'variables' as *;

// Reset & Base
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: $font-size-base;
    line-height: $line-height-base;
}

body {
    font-family: $font-family;
    color: $color-text;
    background-color: $color-background;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

// Links
a {
    color: $color-primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
