// 1. Custom variables (Bootstrap overrides)
@import 'variables';

// 2. Bootstrap
@import 'bootstrap/scss/bootstrap';

// 3. Custom styles
@import 'layout';
@import 'pages';
@import 'components/cookie-banner';
