# Dependencies
/vendor/
/node_modules/

# Environment
.env

# Cache
/var/cache/*
!/var/cache/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Composer
composer.lock
