@use '../variables' as *;

.feature-card {
    background-color: $color-background-card;
    padding: $spacing-lg;
    border-radius: $border-radius-lg;
    border: 1px solid $color-border;

    h3 {
        color: $color-dark;
        margin-bottom: $spacing-xs;
    }

    p {
        color: $color-text-muted;
    }
}
