@use '../variables' as *;

.flash-messages {
    margin-bottom: $spacing-lg;
}

.flash {
    padding: $spacing-md;
    border-radius: $border-radius;
    margin-bottom: $spacing-xs;
}

.flash-success {
    background-color: $color-success-bg;
    color: $color-success-text;
    border: 1px solid $color-success-border;
}

.flash-error {
    background-color: $color-error-bg;
    color: $color-error-text;
    border: 1px solid $color-error-border;
}
