<header class="site-header">
    <div class="container d-flex justify-content-between align-items-center">
        <a href="{{ route_localized('home', locale) }}" class="site-logo">Slim App</a>
        {% include 'components/language-switcher.twig' %}
    </div>
</header>
