<header class="site-header">
    <div class="container">
        <a href="{{ route_localized('home', locale) }}" class="site-logo">Slim App</a>
        {% include 'components/language-switcher.twig' %}
    </div>
</header>
