{% extends 'layouts/base.twig' %}

{% block title %}Acerca de{% endblock %}
{% block meta_description %}Conoce más sobre nuestra empresa y lo que hacemos{% endblock %}

{% block content %}
<section class="page-content">
    <h1>Acerca de nosotros</h1>
    <p>Esta es una aplicación boilerplate construida con Slim Framework 4 y el motor de plantillas Twig.</p>
    <p>Proporciona una base sólida para construir aplicaciones web PHP modernas con buenas prácticas y herramientas de calidad de código integradas.</p>
</section>
{% endblock %}
